.container{
    text-align: center;
    width: 60%;
    margin:auto;
}
body {
    background-color: #393E46;
    border-color: blueviolet;
    border-width: 5px;
    border-style: solid;
  }
  h1{
    margin:10px;
    font-family: 'Lobster', cursive;
    font-size: 6rem;
    color:  #4ECCA3; 
    text-shadow: 7px 0 rgb(95, 8, 89);
}
p{
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
    font-size: 2rem;
}
footer{
    margin-top: 5%;
    margin-bottom: 5px;
    text-align: center;
    color: #EEEEEE;
    font-family: 'Indie Flower', cursive;
}
img{
    width: 70%;
}
.player{
    text-align: center;
    display: inline-block;
  }
